{% extends 'base.html' %}
{% load static %}



{%  block content %}
    <div class="container">
        <div class="section">
            <div class="row justify-content-md-center">
                <div class="col col-lg-8">

                        <div class="title">
                            <h1>Что такое YourArticle?</h1>
                        </div>
                        <div class="post-title">
                            <h2>Современное удобное приложение для чтения статей,
                                позволяющее сортировать статьи в соответсвии с пожеланиями пользователя.</h2>

                        </div>
                          <div class="post-header">

                          </div>
                        <div class="body-post">
                            <p>Вручную за всем интернетом не уследить: каждый день выходят десятки интересных статей, которые стоит прочитать.</p>
                            <p>Приложение отображает лучшие материалы по нескольким разделам, из которых вы выбираете самые интересные для себя.
                                Список источников формируют редакторы сервиса. Ресурсов немного, зато все качественные.</p>
                        </div>



                </div>
            </div>
        </div>
    </div>

{% endblock content %}
